.App {
  text-align: center;
}

.contact-section form {
  width: 100%;
  max-width: 960px;
}

.contact-section form input {
  width: 100%;
}

.contact-section form button {
  border: #000 solid 2px;
}

.contact-section input, .contact-section textarea {
  border: solid 2px #000;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
 font-size: 1.2rem;
 font-style: italic;
}