.App {
  text-align: center;
}

.project-wrapper .project {
  background-color: #000;
  width: 100px;
  height: 100px;
  transition: 0.5s ease;
  background-image: url('./images/luca.png');
  background-size: 100px;
  background-position: center;
}

.project-wrapper .project:hover {
  background-size: 120px;
}

.project-wrapper .project .content {
  opacity: 0;
  border-radius: 0.25rem;
  border-radius: 50%;
  padding: 6px 10px 10px;
  transition: 0.5s ease;
}

.project-wrapper .project:hover .content {
  opacity: 100;
}


.skills-wrapper img.skillset-icon {
  width: auto;
  height: 1.6rem;
}

.contact-section form {
  width: 100%;
  max-width: 960px;
}

.contact-section form input {
  width: 100%;
}

.contact-section form button {
  border: #000 solid 2px;
}

.contact-section input, .contact-section textarea {
  border: solid 2px #000;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
 font-size: 1.2rem;
 font-style: italic;
}