.App {
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-flow: column;
}

.contact-section input, .contact-section textarea {
  border: solid 2px #000;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

